/*Merrick Pilon 8947730 */

body{
    font: 20px Arial, sans-serif, serif;
    background-color: hsla(181, 45%, 49%, 0.3);
    height: 80vh;
    width: 100vw;
}

h2{
    color: #F00;
    font-size: 1em;
}

ul{
    list-style-type: square;
    line-height: 2em;
    color: rgba(0, 255, 0, 1);
}

header{
    background-color: hsl(28, 100%, 50%);
}

main{
    width: 70%;
    float:left;
    background-color: hsl(100, 100%, 50%);
}

aside{
    float: right;
    width: 20%;
    background-color: hsl(190, 100%, 50%);
}

.structural{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
}

#p1{
    color: rgb(75, 0, 130);
}

#p2{
    color: rgb(255, 105, 180);
}

footer{
    clear: both;
    background-color: hsl(298, 100%, 50%);
    
}

a:hover{
    color: #F00;
}

footer p {
    font-size: 10px;
}

